/* Свойства, применяемые ко всем элементам сайта. */
* {
    /* Свойство box-sizing CSS задает способ расчета общей ширины и высоты элемента.
       Свойства c border-box(width и height) включают content, padding и border, но не включают margin.
    */
    box-sizing: border-box;
    /* Внешние отступы убраны по умолчанию */
    margin: 0;
    /* Внутренний отступы убраны по умолчанию */
    padding: 0;
    /* CSS-свойство scroll-behavior устанавливает поведение для прокручивающегося поля.
       smooth - прокручивающееся окно плавно прокручивается с помощью функции синхронизации, определяемой(user-agent-defined)ю
    */
    scroll-behavior: smooth;
}

/* Главный блок сайта. */
body {
    /* По умолчанию задний фон блока body будет равен переменной --color-bg */
    background: var(--color-bg);
}

/* Ссылки сайта */
a {
    /* 
       unset ведет себя как ключевое слово inherit в случае,
       когда свойство является наследуемым,
       и как ключевое слово initial в случае,
       когда свойство является ненаследуемым */
    color: unset;
    /* Свойство CSS text-decoration задает внешний вид декоративных линий в тексте.
       none - декоративных линий в тексте отключены.  */
    text-decoration: none;
}

/* Градиенты заднего фона. */
.gradient__bg {
    background: -moz-radial-gradient(circle at 3% 25%,
            rgba(0, 40, 83, 1) 0%,
            rgba(4, 12, 24, 1) 100%);

    /* safari 5.1+, chrome 10+ */
    background: -webkit-radial-gradient(circle at 3% 25%,
            rgba(0, 40, 83, 1) 0%,
            rgba(4, 12, 24, 1) 100%);

    /* opera 11.10+ */
    background: -o-radial-gradient(circle at 3% 25%,
            rgba(0, 40, 83, 1) 0%,
            rgba(4, 12, 24, 1) 100%);

    /* ie 10+ */
    background: -ms-radial-gradient(circle at 3% 25%,
            rgba(0, 40, 83, 1) 0%,
            rgba(4, 12, 24, 1) 100%);

    /* global 92%+ browsers support */
    background: radial-gradient(circle at 3% 25%,
            rgba(0, 40, 83, 1) 0%,
            rgba(4, 12, 24, 1) 100%);
}

/* Задний фон как цвет текста. */
.gradient__text {
    /* Задний фон градиента текста. */
    background: var(--gradient-text);
    /* Задний фон виден только сквозь текст. */
    background-clip: text;
    /* Цвет текста становится прозрачным. */
    color: transparent;
    /* Webkit настройки для старых браузеров. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Внутренний отступы section элементов. */
.section__padding {
    /* верх/низ | лево/право */
    padding: 4rem 6rem;
}

.section__margin {
    /* верх/низ | лево/право */
    margin: 4rem 6rem;
}

/* Анимация с увеличением элемента. */
.scale-down-center {
    -webkit-animation: scale-down-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: scale-down-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* Свойства анимации увеличения элемента. */
@-webkit-keyframes scale-down-center {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    100% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
}

@keyframes scale-down-center {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    100% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
}

/* Медиа запрос среднего экрана.*/
@media screen and (max-width:700px) {

    /* Перезаппись внутренних отступов для средних экранов. */
    .section__padding {
        padding: 4rem;
    }

    /* Перезаппись внешних отступов для средних экранов. */
    .section__margin {
        padding: 4rem;
    }
}

/* Медиа запрос мобильного экрана.*/
@media screen and (max-width:550px) {

    /* Перезаппись внутренних отступов для средних экранов. */
    .section__padding {
        padding: 4rem 2rem;
    }

    /* Перезаппись внешних отступов для мобильных экранов. */
    .section__margin {
        padding: 4rem 2rem;
    }
}